.account
  .account__main
    .account__heder
      会員登録
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        .label
          = f.label :ニックネーム
          .required
            必須
        .field__input
          = f.text_field :nickname, autofocus: true, placeholder: "例）フリマルコ", autocomplete: "nickname"

      .field
        .label
          = f.label :メールアドレス
          .required
            必須
        .field__input
          = f.email_field :email, autocomplete: "email"

      .field
        .label
          = f.label :パスワード
          - if @minimum_password_length
            (#{@minimum_password_length}文字以上)
          .required
            必須
        .field__input
          = f.password_field :password, autocomplete: "new-password"

      .field
        .label
          = f.label :確認用パスワード
          .required
            必須
        .field__input
          = f.password_field :password_confirmation, autocomplete: "new-password"

      .field
        .label
          = f.label :お名前（全角）
          .required
            必須
        .name-box
          .field__input
            = f.text_field :name, placeholder: "例）伊藤", autocomplete: "name"
          .field__input
            = f.text_field :name, placeholder: "例）花子", autocomplete: "name"

      .field
        .label
          = f.label :お名前カナ（全角）
          .required
            必須
        .name-box
          .field__input
            = f.text_field :kana_name, placeholder: "例）イトウ", autocomplete: "kana_name"
          .field__input
            = f.text_field :kana_name, placeholder: "例）ハナコ", autocomplete: "kana_name"

      .field
        .label
          = f.label :生年月日
          .required
            必須
        .input-select
          = f.date_select :birthday, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1)
      
      = f.fields_for :addresses do |address|
        .field
          .label
            = f.label :郵便番号
            .required
              必須
          .field__input
            = address.text_field :postal_code, placeholder: "例）123-4567", autocomplete: "postal_code"

        .field
          .label
            = f.label :都道府県
            .required
              必須
          .input-select
            = address.select :prefecture_id, @prefectures.map{|prefecture| [prefecture.id, prefecture.name]}

        .field
          .label
            = f.label :市町村
            .required
              必須
          .field__input
            = address.text_field :city, autocomplete: "city"

        .field
          .label
            = f.label :番地
            .required
              必須
          .field__input
            = address.text_field :street, autocomplete: "street"


        .field
          .label
            = f.label :マンション名やビル名
            .field__any
              任意
          .field__input
            = address.text_field :building_name, autocomplete: "building_name"

        .field
          .label
            = f.label :お届け先電話番号
            .field__any
              任意
          .field__input
            = address.text_field :telehone_number, autocomplete: "telehone_number"

      .field__actions
        = f.submit "登録", class: 'btn'
    = render partial: "devise/shared/links"
