%body
= render partial: 'layouts/header'
%nav.menu
  %ul
    %li
      = link_to "FURIMA", root_path
    %li
      = icon('fa','angle-right')
    %li
      = link_to @parent.name
    %li
      = icon('fa','angle-right')
    %li
      = link_to @children.name
    %li
      = icon('fa','angle-right')
    %li
      = link_to @grandchild.name
.main
  .main__sub
    .content
      .content__form
        .content__form__name
          = @product.name
        .content__form__body
          %ul
            %li
              = image_tag @image.image_name.url, class: 'photo'
              %ul
                - @images.each do |image|
                  %li= image_tag image.image_name.url, class: 'gallery'
        .content__form__price
          .price
            = @product.price
          .tax
            (税込) 送料込み
        .content__form__text
          = @product.explanation
        .content__form__table
          %table
            %tr
              %th 出品者
              %td
                = @product.name
            %tr
              %th カテゴリー
              %td
                = link_to @parent.name
                %br
                = link_to @children.name
                %br
                = link_to @grandchild.name
            %tr
              %th ブランド
              %td
                = @product.brand_name
            %tr
              %th 商品のサイズ
              %td
                = @product.size
            %tr
              %th 商品の状態
              %td
                = @status.code_name
            %tr
              %th 配送料の負担
              %td
                = @postage.code_name
            %tr
              %th 発送元の地域
              %td
                = @prefecture.name
            %tr
              %th 発送日の目安
              %td
                = @delivery.code_name
        .content__form__option
          .option
            .like
              = icon('fa', 'star', class: 'like__icon')
              お気に入り0
          .option
            .report
              = icon('fa', 'flag', class: 'report__icon')
              不適切な商品の通報
      - if user_signed_in? && current_user.id == product.user_id
        .user__option
          %ul
            %li
              = link_to '▶︎編集', '#'
            %li
              = link_to '▶︎削除', '#'
      .content__comment
        = form_for '#' do |f|
          = f.text_area :comment, class: 'textarea'
        .content__comment__note
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .content__comment__btn
          = icon('fa', 'comment')
          コメントする
      - if current_user
        .buy
          .buy__form
            = icon('fa', 'cart-arrow-down')
            = link_to '購入画面にすすむ', '#'
      - else
        .unregistered
          購入には新規登録/ログインが必要です
          .choice
            .signin
              = link_to 'ログイン', '#'
            .signup
              = link_to '新規登録', '#'
      .link
        .link__left
          = link_to icon('fa', 'angle-left', "前の商品"), '#', class: 'left__icon'
        .link__right 
          = link_to '#' do
            後の商品
            = icon('fa', 'angle-right', class: 'right__icon')
      .relate
        = link_to "キッズをもっと見る", '#'
= render partial: 'layouts/footer'