%body
= render partial: 'layouts/header'
%nav.menu
  %ul
    %li
      = link_to "FURIMA", root_path
    %li
      = icon('fa','angle-right')
    %li
      = link_to "ベビー・キッズ", '#'
    %li
      = icon('fa','angle-right')
    %li
      = link_to "おもちゃ", '#'
    %li
      = icon('fa','angle-right')
    %li
      = link_to "その他", '#'
.main
  .main__sub
    .content
      .content__form
        .content__form__name
          = @product.name
        .content__form__body
          %ul
            %li
              = image_tag @image.image_name.url, class: 'photo'
              %ul.gallery
                %li
                  -# = @image.image_name.eaach do |image|
                  = image_tag @image.image_name.url
                %li
                  = image_tag src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/8/a002.png", class: 'gallery'
                %li
                  = image_tag src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/9/a003.png", class: 'gallery'
        .content__form__price
          .price
            = @product.price
          .tax
            (税込) 送料込み
        .content__form__text
          = @product.explanation
        .content__form__table
          %table
            %tr
              %th 出品者
              %td
                = @product.name
            %tr
              %th カテゴリー
              %td
                = link_to 'ベビー・キッズ', '#'
                %br
                -# = link_to @category
                %br
                -# = link_to @category.name
            %tr
              %th ブランド
              %td
                = @product.brand_name
            %tr
              %th 商品のサイズ
              %td
            %tr
              %th 商品の状態
              %td
                = @product.status
            %tr
              %th 配送料の負担
              %td
                = @product.postage_code
            %tr
              %th 発送元の地域
              %td
                = link_to '東京都', '#'
            %tr
              %th 発送日の目安
              %td
                = @product.delivery_time_code
        .content__form__option
          .option
            .like
              = icon('fa', 'star', class: 'like__icon')
              お気に入り0
          .option
            .report
              = icon('fa', 'flag', class: 'report__icon')
              不適切な商品の通報
          -# - if user_signed_in? && current_user.id == .user_id
        .user__option
          %ul
            %li
              = link_to '▶︎編集', '#'
            %li
              = link_to '▶︎削除', '#'
      .content__comment
        = form_for '#' do |f|
          = f.text_area :comment, class: 'textarea'
        .content__comment__note
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .content__comment__btn
          = icon('fa', 'comment')
          コメントする
      .buy
        .buy__form
          = icon('fa', 'cart-arrow-down')
          = link_to '購入画面にすすむ', '#'
      .link
        .link__left
          = link_to icon('fa', 'angle-left', "前の商品"), '#', class: 'left__icon'
        .link__right 
          = link_to '#' do
            後の商品
            = icon('fa', 'angle-right', class: 'right__icon')
      .relate
        = link_to "キッズをもっと見る", '#'
= render partial: 'layouts/footer'