!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample73h
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  .body
    .header
      .header__main
        .header__main__title
          .header__main__title__icon
            = link_to image_tag('logo.png',size: '140x40'), root_path, class: 'icon'
          .header__main__title__search
            = form_for '#' do |f|
              .header__main__title__search__form
                = f.text_field :search, placeholder: "キーワードから探す", class: 'input'
                .header__main__title__search__submit
                  = image_tag 'search.png', class: 'header__main__title__search__form__submit'
        .header__main__navi
          %ul.header__main__navi__left
            %li
            = link_to 'カテゴリー', '#', class: 'category'
            %li
            = link_to 'ブランド', '#'
          %ul.header__main__navi__right
            %li
            = link_to 'ログイン', '#'
            %li
            = link_to '新規会員登録', '#'
  = yield
